{% extends "COMStaffBundle::staff.html.twig" %}

{% block title %}Ajout d'un employé{% endblock %}

{% block body %}
    <section class="content-header">
      <h1>
        Personnel (ajout)
      </h1>
    </section>

    <section class="content container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#add_tab" data-toggle="tab">Ajout d'un employé</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="add_tab"> 	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
							<form class="form-horizontal" action="{{ path('com_staff_add_employee') }}" method="post">
								<div class="form-group">
									<label for="name" class="col-sm-3 control-label">Nom <span>*</span></label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="name" name="employee_init[name]" placeholder="nom" required>
									</div>
								</div>

								<div class="form-group">
									<label for="firstname" class="col-sm-3 control-label">Prénom</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="firstname" name="employee_init[firstname]" placeholder="prénom">
									</div>
								</div>
								
								<div class="form-group">
									<label for="sex" class="col-sm-3 control-label">Sexe <span>*</span></label>
									<div class="col-sm-9">
										<select class="form-control" id="sex" name="employee_init[sex]" required>
												<option value="0">homme</option>
												<option value="1">femme</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label for="birthdate" class="col-sm-3 control-label">Date de naissance</label>

									<div class="col-sm-9">
									<input type="text" class="form-control" placeholder="jj/mm/aaaa" id="birthdate" name="employee_init[birthdate]">
									</div>
								</div>

								<div class="form-group">
									<label for="birthlocation" class="col-sm-3 control-label">Lieu de naissance</label>

									<div class="col-sm-9">
									<input type="text" class="form-control" id="birthlocation" placeholder="Lieu de naissance" name="employee_init[birthlocation]">
									</div>
								</div>

								<div class="form-group">
									<label for="cin" class="col-sm-3 control-label">n&deg; CIN</label>

									<div class="col-sm-9">
									<input type="text" class="form-control" id="cin" placeholder="cin" name="employee_init[cin]">
									</div>
								</div>

								<div class="form-group">
									<label for="cindate" class="col-sm-3 control-label">Date CIN</label>

									<div class="col-sm-9">
									<input type="text" class="form-control" placeholder="jj/mm/aaaa" id="cindate" name="employee_init[cindate]">
									</div>
								</div>

								<div class="form-group">
									<label for="cinlocation" class="col-sm-3 control-label">CIN lieu</label>

									<div class="col-sm-9">
									<input type="text" class="form-control" id="cinlocation" placeholder="CIN lieu" name="employee_init[cinlocation]" >
									</div>
								</div>

								<div class="form-group">
									<label for="address" class="col-sm-3 control-label">Adresse</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="address" name="employee_init[address]" placeholder="adresse">
									</div>
								</div>

								<div class="form-group">
									<label for="phone" class="col-sm-3 control-label">Téléphone</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="phone" name="employee_init[phone]" placeholder="téléphone">
									</div>
								</div>

								<div class="form-group">
									<label for="email" class="col-sm-3 control-label">Email</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="email" name="employee_init[email]" placeholder="email">
									</div>
								</div>

								<div class="form-group">
									<label for="position" class="col-sm-3 control-label">Poste <span>*</span></label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="position" name="employee_init[position]" placeholder="Poste" required>
									</div>
								</div>

								<div class="form-group">
									<label for="positiondate" class="col-sm-3 control-label">Date de prise de poste<span>*</span></label>

									<div class="col-sm-9">
									<input type="text" class="form-control" placeholder="jj/mm/aaaa" id="positiondate" name="employee_init[positiondate]" required>
									</div>
								</div>

								<div class="form-group">
									<label for="salary" class="col-sm-3 control-label">Salaire <span>*</span></label>

									<div class="col-sm-9">
									<input type="number" class="form-control" id="salary" placeholder="salaire" name="employee_init[salary]" required>
									</div>
								</div>
								
								<div class="box-footer text-right">
									<button id="product_init_save" type="submit" name="transaction_init[save]" class="btn btn-info" >Enregistrer</button>
								</div>
							</form>
                        </div>
                    </div>
                </div>
				
            </div>
          </div>
        </div>
      </div>
      
    </section>
{% endblock %}