{% extends "COMTrainingBundle::training.html.twig" %}

{% block title %}Utilisateur : Edition du mot de passe{% endblock %}

{% block body %}
{{ include("COMPlatformBundle:platform:tooltip.html.twig") }}
    <section class="content-header">
      <h1>
        Edition du mot de passe
      </h1>
    </section>

    <section class="content container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#add_tab" data-toggle="tab">Mot de passe</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="add_tab"> 	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
							<form class="form-horizontal" action="{{ path('com_user_edit_password', {'username': user.username}) }}" method="post">
								<div class="form-group">
									<label for="currentpassword" class="col-sm-3 control-label">Ancien mot de passe <span>*</span></label>
									<div class="col-sm-9">
										<input type="password" class="form-control" id="currentpassword" name="userpassword_init[currentpassword]" required>
									</div>
								</div>

								<div class="form-group">
									<label for="newpassword" class="col-sm-3 control-label">Nouveau mot de passe <span>*</span></label>
									<div class="col-sm-9">
										<input type="password" class="form-control" id="newpassword" name="userpassword_init[newpassword]" required>
									</div>
								</div>

								<div class="form-group">
									<label for="repeatedpassword" class="col-sm-3 control-label">Confirmation <span>*</span></label>

									<div class="col-sm-9">
									<input type="password" class="form-control" id="repeatedpassword" name="userpassword_init[repeatedpassword]" required>
									</div>
								</div>
								
								<div class="box-footer text-right">
									<a href="{{ path('com_user_profile', {'username': user.username}) }}" class="btn btn-flat btn-danger" >Annuler</a>
									<button type="submit" name="userpassword_init[save]" class="btn btn-info" >Enregistrer</button>
								</div>
							</form>
                        </div>
                    </div>
                </div>
				
            </div>
          </div>
        </div>
      </div>
      
    </section>
{% endblock %}